<!-- First Container -->
<!--  <h3 class="margin">Who Am I?</h3>
  <h3>I'm an adventurer</h3>-->
  <div class="container">
    <br>
    <h2>Audios</h2>
    <div class="w3-card-4" style="width:100%">
      <%=image_tag "imagen-audio.jpg",:class => "img-responsive margin" ,:style =>"width:100%", :alt =>"Image"%>
      <div class="w3-container" style="padding-left:40px;padding-right:40px">
        <h4 class="padding-top:0px">Audios 1</h4>
        <%= audio_tag( "horse.ogg", controls: true)%>
        <%= audio_tag( "horse.ogg", controls: true)%>
      </div>
      
      <div class="w3-container" style="padding-left:40px;padding-right:40px">
        <h4>Audios 2</h4>
        <%= audio_tag( "horse.ogg", controls: true)%>
        <%= audio_tag( "horse.ogg", controls: true)%>
        <%= audio_tag( "horse.ogg", controls: true)%>
      </div>
      
      <div class="w3-container" style="padding-left:40px;padding-right:40px">
        <h4>Audio 3</h4>
        <%= audio_tag( "horse.ogg", controls: true )%>
      </div>
      
      <div class="w3-container" style="padding-left:40px;padding-right:40px">
        <h4>Audios 4</h4>
        <%= audio_tag( "horse.ogg", controls: true )%>
        <%= audio_tag( "horse.ogg", controls: true)%>
        <%= audio_tag( "horse.ogg", controls: true)%>
        <%= audio_tag( "horse.ogg", controls: true)%>
      </div>
      <br>
      
    </div>
    <br>
  </div>
    
 
  

