<!DOCTYPE html>
<html>
<head>
  <title>WebpageCharlot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

</head>

<body style="background-color:gray;">
  
<!-- <%= render 'layouts/navegacion' %>  -->
<%= yield %>
<!-- <%= render 'layouts/piepagina' %>   -->


</body>
</html>
